        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="assets/img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Loan Status</h1>
                </div>
            </div>
        </section>
        <section class="faq_area bg_color sec_pad">
            <div class="container">
                <div class="row" *ngIf="display_block=='store'">
                    <div class="col-lg-12">
                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20 float-left">2019

                        </h3>
                        <button type="submit" class="btn_three mt_0 mb_20 float-right">All Transactions</button>
                        <table class="table">
                          <tr>
                            <th>Item</th>
                            <th>Disbursed</th>
                            <th>Paid</th>
                            <th>Amount</th>
                          </tr>
                          <tr>
                            <td>Item 1</td>
                            <td>₦ 3000</td>
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr>
                           <tr>
                            <td>Item 2</td>
                            <td>₦ 3000</td>
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr>
                           <tr>
                            <td>Item 3</td>
                            <td>₦ 3000</td>
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr>
                        </table>
                        
                        
                    </div>
                </div>


            </div>
        </section>