        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="assets/img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Loan Status</h1>
                </div>
            </div>
        </section>
        <section class="faq_area bg_color sec_pad">
            <div class="container">
                <div class="row" *ngIf="display_block=='loan_history'">
                    <div class="col-lg-12">
                        <!-- <h3 class="f_p f_size_22 f_500 t_color3 mb_20 float-left">2019

                        </h3>
                        <button type="submit" class="btn_three mt_0 mb_20 float-right">All Transactions</button> -->
                        <table class="table table-responsiv">
                          <tr class="text-center">
                            <th>Item</th>
                            <th>Disbursed Date</th>
                            <th>Paid</th>
                            <th>Amount</th>
                            <th>Repayment Amount</th>
                            <th>Action</th>
                          </tr>
                          <tr class="text-center" *ngFor="let loan of loan_history;let i = index">
                            <td>{{loan.productId.productName}}</td>
                            <td>{{loan.loanDisbursementDate | date: 'mediumDate'}}</td>
                            <td>{{loan.paidToBankAmount | currency:'NGN':'symbol-narrow':'4.2-2'}}</td>
                            <td>{{loan.loanAmount | currency:'NGN':'symbol-narrow':'4.2-2'}}</td>
                            <td>{{loan.repaymentAmount | currency:'NGN':'symbol-narrow':'4.2-2'}}</td>
                            <td>
                              <div class="text-center">
                                <button class="btn btn-success" type="button" (click)="getStatus(loan._id)">Loan Status</button>
                              </div>
                            </td>
                          </tr>
                           <!-- <tr>
                            <td>Item 2</td>
                            <td>₦ 3000</td>
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr>
                           <tr>
                            <td>Item 3</td>
                            <td>₦ 3000</td>
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr> -->
                        </table>
                        
                        
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" *ngIf="display_block=='loan_status'">
                    <div class="col-lg-12">
                      <button type="submit" class="btn_three mt_0 mb_20 float-right" (click)="goBack()">Back</button>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="text-center">
                            <!-- <div class="store_img"> -->
                              <img src="{{loan_status.productDetails.productImage}}" alt="" class="productimg" style="height: 215px;"/>
                              <!-- </div> -->
                          </div>
                        </div>
                        <div class="col-lg-5 text-center">
                          <!--  -->
                          <!-- <div class="row">
                            <div class="col-lg-6">
                              <label><small>{{loan_status.productDetails.productName}}</small></label>
                            </div>
                            <div class="col-lg-6">
                              {{loan_status.productDetails.unitprice}}
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-6">
                              Offer
                            </div>
                            <div class="col-lg-6">
                              {{loan_status.offerAmount}}
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-6">
                              Balamce Paid
                            </div>

                            <div class="col-lg-6">
                              {{loan_status.balancePaid}}
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-6">
                              Repayment
                            </div>

                            <div class="col-lg-6">
                              {{loan_status.repaymentAmount}}
                            </div>
                          </div> -->

                          
                          <div class="col-lg-12">
                            <div class="row" style="background-color: white;">
                                <div class="col-lg-6">
                                  <h3>Loan Status :-</h3>
                                </div>
                                <div class="col-lg-6">
                                  <label class="label label-success">
                                    {{loan_status.orderApplicationStatus}}
                                  </label>
                                </div>
                             </div>
                          </div>
                          <table class="table">
                            <tr class="text-center">
                              <th>{{loan_status.productDetails.productName | titlecase}} :-</th>
                              <th>{{loan_status.productDetails.unitprice | currency:'NGN':'symbol-narrow':'4.2-2'}}</th>
                            </tr>

                            <tr class="text-center">
                              <th>Offer :-</th>
                              <th>{{loan_status.offerAmount | currency:'NGN':'symbol-narrow':'4.2-2'}}</th>
                            </tr>

                            <tr class="text-center">
                              <th>Balance Paid :-</th>
                              <th>{{loan_status.balancePaid | currency:'NGN':'symbol-narrow':'4.2-2'}}</th>
                            </tr>

                            <tr class="text-center">
                              <th>Repayment :-</th>
                              <th>{{loan_status.repaymentAmount | currency:'NGN':'symbol-narrow':'4.2-2'}}</th>
                            </tr>
                            <tr class="text-center">
                              <th>Loan Amount :-</th>
                              <th>{{loan_status.total_loanAmount | currency:'NGN':'symbol-narrow':'4.2-2'}}</th>
                            </tr>
                          </table>

                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                              <div class="col-lg-12" *ngIf="loan_status.offerLetter"> 
                                <label>Delivery Date:- <span>&nbsp; &nbsp;</span></label>
                                <label style="margin-left: 10px;">{{loan_status.DeliveryDate | date: 'mediumDate'}}</label>
                              </div>

                              <div class="col-lg-12">
                                <a *ngIf="loan_status.offerLetter" class="btn_three mt_0 mb_20 float-right" href="https://retailboosters.ng:4000/upload/N1580194053567_1580536948847-OfferLetter.pdf">
                                  <!-- <button class="btn_three mt_0 mb_20 float-right">Offer Latter</button> -->
                                  Offer Latter
                                </a>
                              </div>
                              
                            </div>
                          <!-- <button type="submit" class="btn_three mt_0 mb_20 float-right" (click)="goBack()">Back</button> -->
                         
                  
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                          <mat-vertical-stepper [linear]="isLinear" [disableRipple]="step1" #stepper>
                          <mat-step *ngFor="let step of status_details;let i=index" [completed]="step.Value" editable=false>
                            <ng-template matStepLabel>{{step.StatusName}}</ng-template>
                          </mat-step>
                        </mat-vertical-stepper>
                        </div>
                        <div class="col-3"></div>
                      </div>
                    </div>
                </div>
            </div>
        </section>