
         <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="assets/img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Payments</h1>
                </div>
            </div>
        </section>

        <div id="content" >
            <h2 *ngIf="error_msg!=''" class="error">{{error_msg}}</h2>
            <form method="post" (ngSubmit)="mandateAuth()" class="row" ngNativeValidate>
            <div class="row" *ngIf="mandateData.length>0">
                <div class="form-group col-12 col-lg-12" *ngFor="let val of mandateData; let i = index">
                    <label for="">{{val.label}}</label>
                    <input class="form-control input-md" required name="{{val.param}}" type="number" placeholder="{{val.description}}" [(ngModel)]="val.value">
                </div>



                <div class="col-12 text-center">
                   <div class="error text-center">{{error}}</div>
                  <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </div>
            </form>
        </div>
