
         <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="assets/img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">About us</h1>
                </div>
            </div>
        </section>

        <div id="content"></div>

   <!--     <div class="case_study_details_area_two sec_pad bg_color">
            <div class="container">
                <div class="row study_details_two flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="study_details_content">
                            <h2>About Us</h2>
                            <p>Retail Boosters is a Nigerian Company that seeks to bridge the gap in the acquisition of assets, home appliances, home furnitures etc. We get you the best of your desire not compromising quality with flexible payment pattern at your convenient.</p>
                            <p>Our service delivery methodology is based on International best practises, it entails granting you credit to acquire assets, home appliances, home furniture etc from the variety of our partners’ at a choice of your own. Our service is timely, reliable and cost effective.</p>
                            <p>Our target are MSME’s business owners, Salary earners and individuals with stable and verifiable sources of income.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details_img text-right">
                            <img src="assets/img/retail-owner.png" alt="">
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>

        <section class="ticket_area">
            <div class="ticket_shap" style="background: url(img/pos/shape.png)"></div>
            <div class="pattern" style="background: url(img/pos/pattern_01.png)"></div>
            <div class="container">
                <div class="ticket_item">
                    <h2>Our Vission</h2>
                    <p>To be the foremost financier of household items in Nigeria and online integration to all major vendors in the country.</p>
                </div>
                <div class="ticket_item">
                    <h2>Our Mission</h2>
                    <p>To provide customers with the convenience of buying essential assets in an easy and accessible manner without immediate total cash pay-out and to help customers build credit history over time</p>
                </div>
            </div>
        </section>


         <div class="case_study_details_area_two sec_pad bg_color">
            <div class="container">
                <div class="row study_details_two flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="details_img text-right">
                            <img src="assets/img/about2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        

                        <div class="study_details_content">
                            <h2>Key Products & Services</h2>
                            <p><strong>Retail Boosters business assets acquisition</strong></p>
                            <p>Designed for micro business owners/ entrepreneurs that desire to own household / office asset(s) who lack the bulk cash flow to pay at once but have the required liquidity tom pay over a period of time.</p>

                            <p><strong>Retail Booster Easy Solar Owner Loan</strong></p>
                            <p>A loan product designed to provide alternative power source for businesses and homes of micro, small and medium customers in order to support green energy and environmental responsibility, which enables clients access a range of affordable solar lighting products.</p>

                            <p><strong>Retail Booster Asset Acquisition.</strong></p>
                            <p>Own the asset of your choice at your convenient from an array of our partners and spread your payments for six months.</p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="case_study_details_area_two sec_pad service_promo_area" style="position: relative;">

            <div class="shape_top">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="shape shape_one">
                    <defs>
                        <linearGradient>
                            <stop offset="0%" stop-color="rgb(76,1,124)" stop-opacity="0.95" />
                            <stop offset="100%" stop-color="rgb(103,84,226)" stop-opacity="0.95" />
                        </linearGradient>
                    </defs>
                    <path d="M121.891,264.576 L818.042,11.198 C914.160,-23.786 1020.439,25.773 1055.424,121.890 L1308.802,818.041 C1343.786,914.159 1294.227,1020.439 1198.109,1055.422 L501.958,1308.801 C405.840,1343.785 299.560,1294.226 264.576,1198.108 L11.198,501.957 C-23.786,405.839 25.773,299.560 121.891,264.576 Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="shape shape_two">
                    <defs>
                        <linearGradient id="PSgrad_0">
                            <stop offset="0%" stop-color="rgb(76,1,124)" stop-opacity="0.95" />
                            <stop offset="100%" stop-color="rgb(103,84,226)" stop-opacity="0.95" />
                        </linearGradient>

                    </defs>
                    <path fill="url(#PSgrad_0)" d="M121.891,264.575 L818.042,11.198 C914.160,-23.786 1020.439,25.772 1055.424,121.890 L1308.802,818.040 C1343.786,914.159 1294.227,1020.439 1198.109,1055.423 L501.958,1308.801 C405.840,1343.785 299.560,1294.226 264.576,1198.107 L11.198,501.957 C-23.786,405.839 25.773,299.560 121.891,264.575 Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="shape shape_three">
                    <defs>
                        <linearGradient id="PSgrad_1">
                            <stop offset="0%" stop-color="rgb(76,1,124)" stop-opacity="0.95" />
                            <stop offset="100%" stop-color="rgb(103,84,226)" stop-opacity="0.95" />
                        </linearGradient>

                    </defs>
                    <path fill="url(#PSgrad_1)" d="M1198.109,264.576 L501.958,11.198 C405.840,-23.787 299.560,25.772 264.576,121.891 L11.198,818.041 C-23.786,914.159 25.773,1020.439 121.891,1055.422 L818.042,1308.801 C914.160,1343.785 1020.439,1294.226 1055.424,1198.108 L1308.802,501.957 C1343.786,405.839 1294.227,299.560 1198.109,264.576 Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="shape shape_four">
                    <defs>
                        <linearGradient id="PSgrad_2">
                            <stop offset="0%" stop-color="rgb(76,1,124)" stop-opacity="0.95" />
                            <stop offset="100%" stop-color="rgb(103,84,226)" stop-opacity="0.95" />
                        </linearGradient>

                    </defs>
                    <path fill="url(#PSgrad_2)" d="M1198.109,264.575 L501.958,11.198 C405.840,-23.787 299.560,25.772 264.576,121.890 L11.198,818.040 C-23.786,914.158 25.773,1020.439 121.891,1055.423 L818.042,1308.801 C914.160,1343.785 1020.440,1294.225 1055.424,1198.107 L1308.802,501.957 C1343.786,405.839 1294.227,299.560 1198.109,264.575 Z" />
                </svg>
            </div>

            <div class="container ">
                <div class="row study_details_two flex-row-reverse">
                
                    <div class="col-lg-12 text-center">
                        <h1>Meet Our People</h1>
                        <br/><br/>
                    </div>
                </div>
                <div class="row study_details_two flex-row-reverse ">
                    <div class="col-lg-4">
                        <img src="assets/img/team-img-1-mob.png" />
                    </div>
                    <div class="col-lg-8">
                        <div class="study_details_content">
                            
                            
                            <h2>Sunkanmi Olowo - CEO</h2>
                            <p>Sunkanmi Olowo has finance and banking experience of over 25 years. He started his career in practical auditing with rich experience in Accounting, Auditing, Taxation and Consulting. He has been in the banking industry for over Twenty years working in various units in 4 banks in Nigeria with experience cutting across marketing, operations, auditing, internal control and bank management. Over twelve years of his experience were spent in Senior management positions.</p>

                            <p>He was the Head of SME banking in Ecobank Nigeria for over seven years, an experience that exposed him to challenges facing SMEs across the African continent given the presence of the bank in 34 countries across Africa. He is able to bring to bear experience and networks built in those years to the benefits of clients.</p>
                            <p>He was able to position the SME unit of the bank and introduced landmark products. He set up the SME club of Ecobank Nigeria and was able to deploy tailor-made products for the customers. He also set up an online market mall called Myall Nigeria (https://www.mymall.com.ng) for the SMEs customers of the bank. He was part of the team that develop lending products for the SMEs in the bank.</p>

                            <p>He has attended several training in Nigeria and different parts of the world. The banking, finance and professional training of Sunkanmi adequately prepared him to be the ideal solution provider in finance, loan structuring, transaction structuring, project finance, trade transactions and SME management.</p>
                            <p>He is the Principal Consultant at R828 Consulting. Sunkanmi obtained a B.sc degree in Botany from the University of Ilorin and an MBA (Marketing options) from the University of Nigeria, Nsukka. He is a Fellow of the Institute of Chartered Accountants of Nigeria (FCA) and an Associate member of the Chartered Institute of taxation of Nigeria (ACIT).</p>
                            <p>Sunkanmi is a passionate and tenacious person driven by lofty ideas. He is also passionate about sustainability and set up the Renewable energy desk in the bank with lots of partners across several locations. He is a well sought after person at conferences on renewable energy and SME financing and has delivered several key technical papers in Dubai, Spain, Kenya, Ethiopia, Ivory Coast and Nigeria.</p>
                        </div>
                        
                        
                    </div>
                </div>

                <div class="row study_details_two flex-row-reverse ">
                    <div class="col-lg-4">
                        <img src="assets/img/team-img-2-mob.png" />
                    </div>
                    <div class="col-lg-8">
                        <div class="study_details_content">
                            
                            
                            <h2>Niyi Anthony Adebayo – Chairman</h2>
                            <p>Niyi has over 26 years’ experience across various fields, such as strategy consulting, accounting & audit, private equity/venture capital, corporate finance, treasury management, economic research, business planning and control, etc. He began his career with Arthur Andersen where he worked as an auditor and business consultant. He advised oil & gas and manufacturing companies, including multinationals, rising to the level of Manager before leaving the firm.</p>

                            <p>Subsequently, he worked in Merrill Lynch (USA), Capital Alliance Private Equity, United Bank for Africa (UBA), First City Monument Bank (FCMB), Ventures and Trust Limited and Enterprise Bank (now Heritage Bank). While at UBA, he was Head of Strategy and played a key role during UBA/STB merger. He was also assigned to the Central Bank of Nigeria (CBN) for a year to assist in establishing Africa Finance Corporation (AFC).</p>
                            <p>His involvement was particularly prominent in the development of the business plan, organizational design and job descriptions for key executive positions at AFC. While at FCMB, he was Head of National Retail Distribution – responsible for managing a sales force of over 800 people across the bank’s network of 140 branches. In this role, Niyi managed key banking relationships and advised many customers of the bank, including SMEs and larger corporate organizations.</p>

                            <p>His last banking position was at Enterprise Bank (now Heritage Bank), where he served as Executive Director and was in charge of sales to and relationship management with the bank’s institutional customers. The role involved sale, delivery of corporate finance/financial advisory services and lending to corporate clients, and treasury management.</p>
                            <p>Niyi is the chairman of the Board of R828 Consulting. He also serves as the Chief Executive Officer of Bodani Advisory Services Limited, a financial advisory firm, and sits on the Board of a number of other companies.</p>
                            <p>He holds a Bachelor of Science degree in Forest Resources Management and Master of Science degree in Agricultural Economics – both from University of Ibadan. He also has an MBA from The Wharton School, University of Pennsylvania, USA. Niyi is a chartered accountant and a member of the Chartered Institute of Taxation of Nigeria. He is married with Children.</p>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>


        <section class="get_started_area">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="get_content">
                            <h3 class="f_400 f_p wow fadeInLeft" data-wow-delay="0.2s">Retail Boosters</h3>
                            <h2 class="f_700 f_p f_size_40 l_height50 mb_20 wow fadeInLeft" data-wow-delay="0.3s">Download this app Now</h2>
                            <p class="f_400 f_p mb_40 wow fadeInLeft" data-wow-delay="0.4s">Retail Boosters seeks to bridge the liquidity gap in the acquisition of household appliances. We get you the best of your desired assets on flexible payment plan without compromising quality.</p>
                            <a href="#" class="app_btn app_btn_one wow fadeInLeft" data-wow-delay="0.5s"><img src="assets/img/home7/google_icon.png" alt="">Google Play</a>
                            <a href="#" class="app_btn app_btn_two wow fadeInLeft" data-wow-delay="0.6s"><i class="fab fa-apple"></i>App Store</a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right wow fadeInRight" data-wow-delay="0.7s">
                        <img src="assets/img/home7/iPhonex2.png" alt="">
                    </div>
                </div>
            </div>
        </section>

-->