
        <section class="startup_banner_area_three">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="startup_content_three">
                            <h2><span>Welcome To</span><br/> Retail Boosters</h2>
                            <p>Buy Household items on Credit</p>
                            <a href="#" class="btn_six slider_btn"><i class="ti-android"></i> Android App</a>
                            <a href="#" class="btn_six slider_btn"><i class="ti-apple"></i> IOS App</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stratup_app_screen">
                <img class="phone wow slideInnew" data-wow-delay="0.8s" src="assets/img/new/0222.png" alt="">
                <img class="laptop wow slideInnew" data-wow-delay="0.3s" src="assets/img/new/0111.png" alt="">
            </div>
        </section>
        <section class="prototype_service_info">
            <div class="symbols-pulse active">
                <div class="pulse-1"></div>
                <div class="pulse-2"></div>
                <div class="pulse-3"></div>
                <div class="pulse-4"></div>
                <div class="pulse-x"></div>
            </div>
            <div class="container">
                <div class="sec_title text-center mb_70">
                    <h2 class="f_p f_size_30 l_height45 f_600 t_color3">Reason to try Retail Boosters</h2>
                    <p class="f_400 f_size_16 mb-0">Instant approval to purchase household items of choice on credit from your favourite stores.</p>
                </div>

                <div class="row mb_30">
                    <div class="col-lg-4 col-sm-6">
                        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.3s">
                            <img src="assets/img/home-10/icon1.png" alt="">
                            <h4 class="f_size_20 f_p t_color f_500">Easy Credit Approvals</h4>
                            <p class="f_400 f_size_15 mb-0">Apply for instant credit from your phone</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.5s">
                            <img src="assets/img/home-10/icon2.png" alt="">
                            <h4 class="f_size_20 f_p t_color f_500">Fast Approvals to Freedom of Choice</h4>
                            <p class="f_400 f_size_15 mb-0">Purchase products from retail store of choice</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="saas_features_item text-center wow fadeInUp" data-wow-delay="0.7s">
                            <img src="assets/img/home-10/icon3.png" alt="">
                            <h4 class="f_size_20 f_p t_color f_500">Secure and Convenient</h4>
                            <p class="f_400 f_size_15 mb-0">Safe and smooth delivery anywhere within Lagos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<section class="video_area bg_color sec_pad">
            <div class="container">
                <div class="sec_title text-center mb_70">
                    <h2 class="f_p f_size_30 l_height45 f_600 t_color3">How it wokrs</h2>
                    <p class="f_400 f_size_16 mb-0">WShow off show off pick your nose and blow off Elizabeth grub haggle <br> dropped a clanger cracking.!</p>
                </div>
                <div class="video_content">
                    <div class="video_info">
                        <div class="ovarlay_color"></div>
                        <a class="popup-youtube video_icon" href=""><i class="arrow_triangle-right"></i></a>
                        <h2>Boosters</h2>
                    </div>
                    <img class="video_leaf" src="assets/img/new/leaf.png" alt="">
                    <img class="cup" src="assets/img/new/cup.png" alt="">
                </div>
            </div>
        </section>-->

        <section class="easy_setup_area sec_pad">
            <div class="container">
                <div class="hosting_title analytices_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.2s">Easy Signup</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"> Quick easy steps to apply for credit in 1 minute</p>
                </div>
                <div class="setup_inner">
                    <div class="setup_item row">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="assets/img/steps/step-1.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">01</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Register on Retail Booster</h5>
                                <p>Register with your phone number and email</p>
                            </div>
                        </div>
                        <div class="line bottom_half wow height" data-wow-delay="0.5s"></div>
                    </div>
                    <div class="setup_item row flex-row-reverse">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="assets/img/steps/step-2.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">02</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Select Product of Choice</h5>
                                <p>Delect from available products or provide the product you want</p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="0.9s"></div>
                    </div>
                    <div class="setup_item row">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="assets/img/steps/step-3.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">03</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Complete Application Form</h5>
                                <p>The more information you provide the better your chances of approval by our decision engine</p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="1.5s"></div>
                    </div>
                    <div class="setup_item row flex-row-reverse">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="assets/img/steps/step-4.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">04</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Get Approval for Credit</h5>
                                <p>Our decision engine will determine your eligibility based on salary or bank statement you provided</p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="0.9s"></div>
                    </div>
                    <div class="setup_item row">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="assets/img/steps/step-6.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">05</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Schedule Repayment</h5>
                                <p>Get your repayment mandate activated with your bank and ensure funds are available for the repayment</p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="1.5s"></div>
                    </div>
                    <div class="setup_item row flex-row-reverse">
                        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
                            <img src="assets/img/steps/step-7.png" alt="">
                        </div>
                        <div class="col-md-2 s_number">
                            <div class="round">06</div>
                        </div>
                        <div class="col-md-5">
                            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                                <h5>Receive Ordered Item(s)</h5>
                                <p>Receive your ordered items from the comfort of your home or office</p>
                            </div>
                        </div>
                        <div class="line wow height" data-wow-delay="0.9s"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="erp_customer_logo_area">
            <div class="container">
                <div class="hosting_title erp_title text-center">
                    <h2>Participating <span class="icon_heart"></span> Stores</h2>
                    <p>We have partnered with leading retail stores to deliver convenient shopping experience you can not get elsewhere. </p>
                </div>
                <ul class="list-unstyled animation_inner">
                    <li class="wow slideInnew2" data-wow-delay="0.2s"><img src="assets/img/participate/spar.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.4s"><img src="assets/img/participate/slot.jpg" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.6s"><img src="assets/img/participate/games.jpg" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.7s"><img src="assets/img/participate/fouani.jpg" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="0.9s"><img src="assets/img/participate/ebeano.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.2s"><img src="assets/img/participate/jumia.png" alt=""></li>
                    <li class="wow slideInnew2" data-wow-delay="1.4s"><img src="assets/img/participate/konga.png" alt=""></li>
                </ul>
                
            </div>
        </section>


        <section class="get_started_area">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="get_content">
                            <h3 class="f_400 f_p wow fadeInLeft" data-wow-delay="0.2s">Retail Boosters</h3>
                            <h2 class="f_700 f_p f_size_40 l_height50 mb_20 wow fadeInLeft" data-wow-delay="0.3s">Download this app Now</h2>
                            <p class="f_400 f_p mb_40 wow fadeInLeft" data-wow-delay="0.4s">Retail Boosters seeks to bridge the liquidity gap in the acquisition of household appliances. We get you the best of your desired assets on flexible payment plan without compromising quality.</p>
                            <a href="#" class="app_btn app_btn_one wow fadeInLeft" data-wow-delay="0.5s"><img src="assets/img/home7/google_icon.png" alt="">Google Play</a>
                            <a href="#" class="app_btn app_btn_two wow fadeInLeft" data-wow-delay="0.6s"><i class="fab fa-apple"></i>App Store</a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right wow fadeInRight" data-wow-delay="0.7s">
                        <img src="assets/img/home7/iPhonex2.png" alt="">
                    </div>
                </div>
            </div>
        </section>