        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="assets/img/breadcrumb/banner_bg.png" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Repayment</h1>
                </div>
            </div>
        </section>
        <section class="faq_area bg_color sec_pad">
            <div class="container">
                <div class="row" *ngIf="display_block=='store'">
                    <div class="col-lg-12">
                        
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card card-red text-center">
                                    <small>Amount Loaned</small>
                                    <br/>
                                    ₦ 20000
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-red text-center">
                                <small>Tenure</small>
                                <br/>
                                6 Month
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-red text-center">
                                 <small>Interest</small>
                                <br/>
                                15%
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="card card-black text-center">
                                 <small>Next Payment In</small>
                                <br/>
                                24 Days
                                </div>
                            </div>
                        </div>

                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20 float-left">Transactions

                        </h3>
                        <table class="table">
                          <tr>
                            <th>Due Date</th>                            
                            <th>To Pay</th>
                            <th>Balance</th>
                          </tr>
                          <tr>
                            <td>30 Nov 2019</td>                            
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr>
                           <tr>
                            <td>30 Nov 2019</td>
                            
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr>
                           <tr>
                            <td>30 Nov 2019</td>
                            <td>₦ 200</td>
                            <td>₦ 2800</td>
                          </tr>
                        </table>
                        
                        
                    </div>
                </div>


            </div>
        </section>