<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Forgot Password</h1>
        </div>
    </div>
</section>

<section class="faq_area bg_color sec_pad">
    <div class="container" id="content">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h2 *ngIf="error != ''" class="error">{{error}}</h2>
                <h2 *ngIf="success != ''" class="success">{{success}}</h2>

                <form class="mb-4" action="#" name="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Email Address</label>
                            </div>
                        </div>
        
                        <div class="input-group input-group-merge">
                            <input
                                type="email"
                                class="form-control"
                                placeholder="Enter your email address"
                                [(ngModel)]="email"
                                name="email"
                                required
                            />
                        </div>
                        <!-- <span ng-show="form.email.$dirty && form.email.$error.required">Email is required</span> -->
                        <div class="col-auto">
                            <a
                                [routerLink]="['/login']"
                                class="form-text small text-muted"
                                style="text-align-last: right;"
                            >
                            Login
                            </a>
                        </div>
                    </div>             
        
                    <button [disabled]="!email"
                        class="btn btn-lg btn-block btn-primary mb-3"
                        (click)="forgotPassword()"
                    >
                        Submit
                    </button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>